* {
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
}

body {
  background: #FF4D00;
}

.myContainer {
  margin: auto;
  max-width: 880px;
}

code {
  color: #E01A76;
}

.button{
	display: block;
	margin: 3px auto;
	color: #FF0000;
	border: none;
	width: 175px;
	height: 40px;
	background: #443737;
	transition: all 0.4s;
}

.button:hover{
	border: solid #443737 2px;
	background: #FF0000;
	color: #443737;
}
