* {
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
}

body {
  background: #FF4D00;
}

.myContainer {
  margin: auto;
  max-width: 880px;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
